/appdata/episoft.it_ciderbit/cache/
/appdata/episoft.local/cache/
/appdata/ciderbit.local_en/cache/
/appdata/ciderbit.local_en/files/
/appdata/episoft.local/files/
/appdata/episoft.it_ciderbit/files/
/nbproject