/data/
/nbproject/private/
/smarty/
/module/outdate/
/theme/outdate/
/sql-formatter-master/
/config/vars/
/_test/
/config/ciderbit.en/cache/
/config/ciderbit.en/files/
/temp/
/config/ciderbit.episoft.it/