/data/
/nbproject/private/
/smarty/
/module/outdate/
/theme/outdate/
/sql-formatter-master/
/config/vars/
/_test/
/config/ciderbit.en/cache/
/config/ciderbit.en/files/
/temp/
/config/ciderbit.episoft.it/
/appdata/episoft.local/cache/
/appdata/ciderbit.local_en/cache/
/appdata/ciderbit.local_en/files/
/appdata/episoft.local/files/
/appdata/episoft.it_ciderbit/cache/
/appdata/episoft.it_ciderbit/files/