body {
	font-family: "Trebuchet MS", Tahoma, Verdana, Arial, Helvetica, sans-serif;
	line-height: 1.5;
	padding: 15px;
	margin: 15px 0px;
	background-color: #FFF;
	font-size: 10pt;
}

blockquote {
	padding: 0px 50px;
	background-image: url('../img/layout/quote.jpg');
	background-position: left top;
	background-repeat: no-repeat;
	font-style: italic;
	color: #999;
	display: block;
	clear: both;
}